#page {
    margin-top: 140px;
    margin-bottom: 100px;
    padding: 0;
    min-height: 600px;
}

@media (max-width: 767px) {
    #page {
        margin-top: 80px;
    }
}

a:hover {
    text-decoration: none;
}

p {
    font-size: 13px;
    color: #80878c;
}