<style>

    .footer {
        bottom: 0;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 0;
        background: #fafafa;
        padding: 20px;
        text-align: center
    }

    .footer > ul {
        list-style: none;
        margin: 25px auto 35px;
        padding: 0;
    }

    .footer > ul > li {
        display: inline-block;
        margin: 0 18px;
    }

    .footer > ul > li > a {
        font-size: 16px;
        color: #525252;
    }

    .footer > ul > li > a:hover,
    .footer > ul > li > a:focus {
        font-size: 16px;
        color: #2cb34d;
        text-decoration: none;
    }

    .footer p,
    .footer p a {
        color: #aeaeae;
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 300;
    }
</style>

<footer class="footer">

    <ul>
        <li>
            <a href="https://www.facebook.com/pages/Green-Auto-Detail/167304920000709" target="_blank">Facebook</a>
        </li>
        <li>
            <a href="https://www.youtube.com/user/scottriekstins" target="_blank">Youtube</a>
        </li>
        <li>
            <a href="mailto:scott@greenautodetail.com">E-mail</a>
        </li>
    </ul>

    <p>Mon-Fri 9:00am - 5:30pm<br/>
        Evenings and weekends by appointment<br/>
        <a href="tel:4255037743">425-503-7743</a>
    </p>

</footer>
