<style>
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 0;
        padding: 10px;
        background-color: #f5f5f5;
    }

    .contact-info {
        text-align: right;
    }

    ul.links-list {
        list-style-type: none;
        margin: 0;
    }

</style>

<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-6">
                <div class="contact-info pull-right">
                    <p>Mon-Fri 9:00am - 5:30pm<br/>
                        Evenings and weekends by appointment<br/>
                        425-503-7743</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 pull-left">
                <ul class="links-list pull-left">
                    <li>
                        <a href="https://www.facebook.com/pages/Green-Auto-Detail/167304920000709" target="_blank">Facebook</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/user/scottriekstins" target="_blank">Youtube</a>
                    </li>
                    <li>
                        <a href="mailto:scott@greenautodetail.com">E-mail</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
