<style>
    .navbar-green {
        height: 90px;
        width: 100%;
        border-bottom: 1px solid #dee0df;
        /* box-shadow: lightgray 1px 0px 3px; */
        background-color: #ffffff;
    }

    .navbar-default .navbar-nav > li > a {
        color: #a3a3a3;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #71ee6d;
        background-color: transparent;
    }

    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > .active > a:hover,
    .navbar-default .nav > li > a:focus {
        color: #71ee6d;
        background-color: transparent;
    }

    .navbar-default .navbar-collapse {
        padding: 20px 0;
    }

    @media (max-width: 767px) {
        .navbar-green {
            height: 50px;
        }

        .navbar-default .navbar-collapse {
            padding: 0 15px 0 15px;
            background-color: #fff;
            box-shadow: #dee0df 0 1px 2px;
        }
    }


</style>
<div class="navbar navbar-default navbar-fixed-top navbar-green" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Green Auto Detail</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li data-bind="css: { active: route().page === 'home-page' }">
                    <a href="#">Home</a>
                </li>

                <li data-bind="css: { active: route().page === 'services-page' }">
                    <a href="#services">Services</a>
                </li>

                <li data-bind="css: { active: route().page === 'gallery-page' }">
                    <a href="#gallery">Gallery</a>
                </li>
                <!--</ul>-->

                <!--<ul class="nav navbar-nav navbar-right">-->
                <li>
                    <a href="#" data-toggle="modal" data-target="#quoteModal">Request Info</a>
                </li>
            </ul>

        </div>
    </div>
</div>
